 <!-- Page Heading -->
 <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                        Nom de la tache</div>
                        <div class="card bg-success text-white shadow">
                            <div class="card-body">
                                terminer    
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <!-- Tableau dépenses -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Header Card -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Dépenses : 20000</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <table class="table table-bordered" #dataTableDepensesTache width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prix</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Achat</td>
                            <td>320,800</td>
                        </tr>
                        <tr>
                            <td>Main d'oeurvre</td>
                            <td>170,750</td>
                        </tr>
                        <tr>
                            <td>Test</td>
                            <td>86,000</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Commentaire</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="commentaires">
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Est explicabo ducimus accusantium quo magni, animi atque, unde molestias ipsum perspiciatis necessitatibus deserunt nesciunt dolorum corporis numquam voluptate voluptates, delectus quia! </p>
                </div>
            </div>
        </div>
    </div>
</div>