
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Details Etapes : Nom Etapes </h1>
    <p class="mb-4">voici les taches de l'étapes</p>
   <!-- DataTales Example -->
   <div class="card shadow mb-4">
       <div class="card-header py-3">
           <h6 class="m-0 font-weight-bold text-primary">Liste des Taches</h6>
       </div>
       <div class="card-body">
           <div class="table-responsive">
               <table class="table table-bordered" #dataTableTaches width="100%" cellspacing="0">
                   <thead>
                       <tr>
                           <th>Nom</th>
                           <th>Depenses</th>
                           <th>Responsable</th>
                           <th>Etat</th>
                       </tr>
                   </thead>
                   <tbody>
                       <tr>
                           <td> <a href="detailsTache/1">Tiger Nixon</a></td>
                           <td>System Architect</td>
                           <td>Edinburgh</td>
                           <td>$320,800</td>
                       </tr>
                       <tr>
                           <td>Garrett Winters</td>
                           <td>Accountant</td>
                           <td>Tokyo</td>
                           <td>$170,750</td>
                       </tr>
                       <tr>
                           <td>Ashton Cox</td>
                           <td>Junior Technical Author</td>
                           <td>San Francisco</td>
                           <td>$86,000</td>
                       </tr>
                       <tr>
                           <td>Cedric Kelly</td>
                           <td>Senior Javascript Developer</td>
                           <td>Edinburgh</td>
                           <td>$433,060</td>
                       </tr>
                       <tr>
                           <td>Airi Satou</td>
                           <td>Accountant</td>
                           <td>Tokyo</td>
                           <td>$162,700</td>
                       </tr>
                       <tr>
                           <td>Brielle Williamson</td>
                           <td>Integration Specialist</td>
                           <td>New York</td>
                           <td>$372,000</td>
                       </tr>
                       <tr>
                           <td>Herrod Chandler</td>
                           <td>Sales Assistant</td>
                           <td>San Francisco</td>
                           <td>$137,500</td>
                       </tr>
                       <tr>
                           <td>Rhona Davidson</td>
                           <td>Integration Specialist</td>
                           <td>Tokyo</td>
                           <td>$327,900</td>
                       </tr>
                       <tr>
                           <td>Colleen Hurst</td>
                           <td>Javascript Developer</td>
                           <td>San Francisco</td>
                           <td>$205,500</td>
                       </tr>
                       <tr>
                           <td>Sonya Frost</td>
                           <td>Software Engineer</td>
                           <td>Edinburgh</td>
                           <td>$103,600</td>
                       </tr>
                       <tr>
                           <td>Jena Gaines</td>
                           <td>Office Manager</td>
                           <td>London</td>
                           <td>$90,560</td>
                       </tr>
                       <tr>
                           <td>Quinn Flynn</td>
                           <td>Support Lead</td>
                           <td>Edinburgh</td>
                           <td>$342,000</td>
                       </tr>
                       <tr>
                           <td>Charde Marshall</td>
                           <td>Regional Director</td>
                           <td>San Francisco</td>
                           <td>$470,600</td>
                       </tr>
                       <tr>
                           <td>Haley Kennedy</td>
                           <td>Senior Marketing Designer</td>
                           <td>London</td>
                           <td>$313,500</td>
                       </tr>
                       <tr>
                           <td>Tatyana Fitzpatrick</td>
                           <td>Regional Director</td>
                           <td>London</td>
                           <td>$385,750</td>
                       </tr>
                       <tr>
                           <td>Michael Silva</td>
                           <td>Marketing Designer</td>
                           <td>London</td>
                           <td>$198,500</td>
                       </tr>
                       <tr>
                           <td>Paul Byrd</td>
                           <td>Chief Financial Officer (CFO)</td>
                           <td>New York</td>
                           <td>$725,000</td>
                       </tr>
                       <tr>
                           <td>Gloria Little</td>
                           <td>Systems Administrator</td>
                           <td>New York</td>
                           <td>$237,500</td>
                       </tr>
                       <tr>
                           <td>Bradley Greer</td>
                           <td>Software Engineer</td>
                           <td>London</td>
                           <td>$132,000</td>
                       </tr>
                       <tr>
                           <td>Dai Rios</td>
                           <td>Personnel Lead</td>
                           <td>Edinburgh</td>
                           <td>$217,500</td>
                       </tr>
                       <tr>
                           <td>Jenette Caldwell</td>
                           <td>Development Lead</td>
                           <td>New York</td>
                           <td>$345,000</td>
                       </tr>
                       <tr>
                           <td>Michael Bruce</td>
                           <td>Javascript Developer</td>
                           <td>Singapore</td>
                           <td>$183,000</td>
                       </tr>
                       <tr>
                           <td>Donna Snider</td>
                           <td>Customer Support</td>
                           <td>New York</td>
                           <td>$112,000</td>
                       </tr>
                   </tbody>
               </table>
           </div>
       </div>
   </div>

</div>
<!-- /.container-fluid -->  