
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Details Projet : Nom Projet </h1>
    <p class="mb-4">voici les étapes du projet</p>
   <!-- DataTales Example -->
   <div class="card shadow mb-4">
       <div class="card-header py-3">
           <h6 class="m-0 font-weight-bold text-primary">Liste des Etapes</h6>
       </div>
       <div class="card-body">
           <div class="table-responsive">
               <table class="table table-bordered" #dataTableEtapes width="100%" cellspacing="0">
                   <thead>
                       <tr>
                           <th>Nom</th>
                           <th>Capital estimé</th>
                           <th>Capital réel</th>
                           <th>Observation</th>
                           <th>Etat</th>
                       </tr>
                   </thead>
                   <tbody>
                       <tr>
                           <td> <a href="detailsEtapes/1">Etape 1</a></td>
                           <td>1000</td>
                           <td>0</td>
                           <td>besoin de camion</td>
                           <td>En Cours</td>
                       </tr>
                       <tr>
                           <td>Etape 2</td>
                           <td>1000</td>
                           <td>0</td>
                           <td></td>
                           <td>En Cours</td>
                       </tr>
                       <tr>
                           <td>Etape 3</td>
                           <td>10</td>
                           <td></td>
                           <td></td>
                           <td>En Cours</td>
                       </tr>
                   </tbody>
               </table>
           </div>
       </div>
   </div>

</div>
<!-- /.container-fluid -->  