<section class="section section-md bg-gray-100">
    <div class="container">
      <h3 class="text-center">Crée étapes</h3>
      <div class="row justify-content-center">
        <div class="col-lg-11 col-xl-9">
          <!-- RD Mailform-->
          <form class="rd-mailform rd-form" data-form-output="form-output-global" data-form-type="contact" method="post" action="#">
            <div class="row row-x-16 row-20">
                <div class="col-md-6">
                    <div class="form-wrap">
                      <input class="form-input" id="nom-projet" type="text" name="nom-projet" data-constraints="@Required">
                      <label class="form-label" for="nom-projet">Nom Etape</label>
                    </div>
                  </div>
              <div class="col-md-6">
                <div class="form-wrap">
                  <input class="form-input" id="capitalE" type="number" name="capitalE" data-constraints="@Required">
                  <label class="form-label" for="capitalE">Capital Estimé</label>
                </div>
              </div>
              <div class="col-12">
                <div class="form-wrap">
                  <label class="form-label" for="observation">Observation</label>
                  <textarea class="form-input" id="observation" name="observation"></textarea>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-wrap form-button">
                  <button class="button button-block button-primary" type="submit">Crée Etape</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>