<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Liste des Projets</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" #dataTable width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <!-- rajouter check box (validation dossier) pour admin et secre -->
                            <th>Nom</th>
                            <th>Objectif</th>
                            <th>Responsable</th>
                            <th>Date de commencement</th>
                            <th>Capital</th>
                            <th>Etat</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> <a href="detailsProjet/1">Smart Education</a></td>
                            <td>Mise en place d'une plateforme d'éducation</td>
                            <td>Rakoto</td>
                            <td>15/01/2023</td>
                            <td>100 000 ar</td>
                            <td>Terminer</td>
                        </tr>
                        <tr>
                            <td>Madagascar Vert</td>
                            <td>Création d'un système de recyclage</td>
                            <td>Rabe</td>
                            <td>16/05/2023</td>
                            <td>200 000 ar</td>
                            <td>En cours</td>
                        </tr>
                        <tr>
                            <td>Santé publique</td>
                            <td>création d'un réseau de médecin bénévole</td>
                            <td>Rasoa</td>
                            <td>19/16/2023</td>
                            <td>1 000 000 000 ar</td>
                            <td>En cours</td>
                        </tr>
                        <tr>
                            <td>Recherches scientifique</td>
                            <td>mise en place des recherches pour l'avancer technologique</td>
                            <td>Rakotobe</td>
                            <td>20/07/2023</td>
                            <td>20 000 000 000 ar</td>
                            <td>En cours</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->  