<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Liste des Projets</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" #dataTable width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <!-- rajouter check box (validation dossier) pour admin et secre -->
                            <th>Nom</th>
                            <th>Objectif</th>
                            <th>Responsable</th>
                            <th>Date de commencement</th>
                            <th>Capital</th>
                            <th>Etat</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let projet of projets">
                            <td> {{projet.nom}}</td>
                            <td> {{projet.objectif}}</td>
                            <td> {{projet.personne.nom}}</td>
                            <td> {{projet.datePostule}} </td>
                            <td> {{projet.capital}} </td>
                            <td> {{projet.id}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->  