<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Liste Equipe</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" #dataTable width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Taches</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> Rakoto </td>
                            <td>
                                - tache 1 <br>
                                - tache 2
                            </td>
                            <td><a href="#" class="btn btn-info btn-circle"><i class="fas fa-info-circle"></i></a>  <a href="#" class="btn btn-danger btn-circle"><i class="fas fa-trash"></i></a>  <a href="#" class="img-profile rounded-circle btn-primary btn-circle">  <img src="assets/svg/undraw_profile.svg"></a></td>
                        </tr>
                        <tr>
                            <td>Rabe</td>
                            <td></td>
                            <td><a href="#" class="btn btn-info btn-circle"><i class="fas fa-info-circle"></i></a>  <a href="#" class="btn btn-danger btn-circle"><i class="fas fa-trash"></i></a> <a href="#" class="img-profile rounded-circle btn-primary btn-circle">  <img src="assets/svg/undraw_profile.svg"></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->  