<section id="acceuil" class="section parallax-container context-dark" data-parallax-img="/assets/images/strip1.jpg">
    <div class="parallax-content">
      <!-- première page -->
      <div class="page-header-2-inner">
        <div class="container">
          <div class="block-custom">
            <h2 class="font-weight-extra-black wow clipInLeft" data-wow-delay=".1s">Incubateur de projet Gouvernementale </h2>
            <h4 class="text-default wow clipInLeft" data-wow-delay=".1s">Plateforme de recrutement et gestion de projet à Madagascar</h4>
            <div class="group-xl group-middle">
              <div><a class="button button-lg button-white button-shadow button-winona wow clipInLeft" href="about-us.html" data-wow-delay=".2s">En savoir plus</a></div>
              <div><a class="button button-lg button-primary button-shadow button-winona wow clipInLeft" href="contact-us.html" data-wow-delay=".2s">Inscription</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<!-- Présentation -->
<section id="offres" class="section section-md bg-gray-100 text-center">
    <div class="container">
      <div class="badge wow fadeIn">Présentation</div>
      <h3 class="wow fadeIn">Nos offres</h3>
      <div class="row row-30 row-xl-60">
        <div class="col-sm-6 col-lg-4">
          <!-- Box Modern-->
          <article class="box-modern wow fadeIn" data-anime="circles-2">
            <div class="box-modern-media">
              <div class="box-modern-icon mdi mdi-television-guide"></div>
              <div class="box-modern-circle box-modern-circle-1"></div>
            </div>
            <p class="box-modern-title">Analyse</p>
            <div class="box-modern-text">
              <p>Analyse de faisabilités des projets</p>
            </div>
          </article>
        </div>
        <div class="col-sm-6 col-lg-4">
          <!-- Box Modern-->
          <article class="box-modern wow fadeIn" data-anime="circles-2">
            <div class="box-modern-media">
              <div class="box-modern-icon mdi mdi-elevation-rise"></div>
              <div class="box-modern-circle box-modern-circle-1"></div>
            </div>
            <p class="box-modern-title">Investissement</p>
            <div class="box-modern-text">
              <p>Mise en place d'un système de relation entre investisseur et startup</p>
            </div>
          </article>
        </div>
        <div class="col-sm-6 col-lg-4">
          <!-- Box Modern-->
          <article class="box-modern wow fadeIn" data-anime="circles-2">
            <div class="box-modern-media">
              <div class="box-modern-icon mdi mdi-presentation"></div>
              <div class="box-modern-circle box-modern-circle-1"></div>
            </div>
            <p class="box-modern-title">Marketing</p>
            <div class="box-modern-text">
              <p>Aider les clients à accroître leur notoriété et à gérer leur réputation</p>
            </div>
          </article>
        </div>
        <div class="col-sm-6 col-lg-4">
          <!-- Box Modern-->
          <article class="box-modern wow fadeIn" data-anime="circles-2">
            <div class="box-modern-media">
              <div class="box-modern-icon mdi mdi-format-list-numbers"></div>
              <div class="box-modern-circle box-modern-circle-1"></div>
            </div>
            <p class="box-modern-title">Suivis de Projet</p>
            <div class="box-modern-text">
              <p>Mentorat durant la réalisation du projet</p>
            </div>
          </article>
        </div>
        <div class="col-sm-6 col-lg-4">
          <!-- Box Modern-->
          <article class="box-modern wow fadeIn" data-anime="circles-2">
            <div class="box-modern-media">
              <div class="box-modern-icon mdi mdi-magnify"></div>
              <div class="box-modern-circle box-modern-circle-1"></div>
            </div>
            <p class="box-modern-title">Audit</p>
            <div class="box-modern-text">
              <p>Enquête approfondie et détaillée sur l'activité de votre entreprise</p>
            </div>
          </article>
        </div>
        <div class="col-sm-6 col-lg-4">
          <!-- Box Modern-->
          <article class="box-modern wow fadeIn" data-anime="circles-2">
            <div class="box-modern-media">
              <div class="box-modern-icon mdi mdi-message-text-outline"></div>
              <div class="box-modern-circle box-modern-circle-1"></div>
            </div>
            <p class="box-modern-title">Consultation</p>
            <div class="box-modern-text">
              <p>Se concentrer sur les problèmes et les opportunités les plus critiques de nos clients</p>
            </div>
          </article>
        </div>
      </div>
    </div>
</section>
<!-- à propos -->
<section id="a_propos" class="section section-xl bg-accent">
    <div class="container">
      <div class="row row-50 justify-content-center flex-lg-row-reverse align-items-center justify-content-lg-between">
        <div class="col-sm-10 col-lg-5 wow fadeInRightSmall">
          <div class="badge">à propos</div>
          <h3>Description de la plateforme</h3>
          <p class="big inset-2">Notre platefome vise à atteindre les objectifs suivants :</p>
          <ul class="list-marked">
            <li>Encourager l'innovation et la création de startups prometteuses dans divers secteurs d'activité</li>
            <li>Offrir un soutien technique et financier aux startups sélectionnées pour maximiser leur croissance et leur réussite</li>
            <li>Faciliter la mise en réseau entre les startups incubées, les investisseurs, les mentors et les partenaires potentiels</li>
          </ul>
        </div>
        <div class="col-sm-10 col-lg-6 wow fadeInLeftSmall">
          <div class="thumbnail-classy">
            <div class="thumbnail-classy-image bg-image" style="background-image: url(/assets/images/about.jpg);"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Pourquoi nous  -->
  <section class="section section-lg">
    <div class="container">
      <div class="row row-50">
        <div class="col-sm-10 col-lg-5 wow fadeInRightSmall">
          <div class="badge">Pourquoi nous ?</div>
          <h3>Pourquoi<br>choisir notre plateforme</h3>
          <p class="big inset-3" style="letter-spacing: .025em">Nous pensons qu'il existe de nombreuses bonnes raisons pour lesquelles vous souhaitez nous choisir pour vos besoins de conseil aux entreprises. En voici quelques uns: </p>
          <ul class="list-marked">
            <li>Equipe professionel</li>
            <li>Rattaché au gouvernement</li>
            <li>Réseau de développement</li>
          </ul>
        </div>
        <div class="col-sm-10 col-lg-7 wow fadeInLeftSmall text-center"><img class="img-custom" src="/assets/images/why.webp" alt="" width="610" height="432"/>
        </div>
      </div>
    </div>
  </section>
  <!-- Liste projets -->
<section id="projets" class="section text-center bg-accent">
    <div class="container">
      <div class="badge wow fadeIn">Projets</div>
      <h3 class="wow fadeIn">Liste des projets Incubé</h3>
      <div class="list-blocks-outer">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nom Projet</th>
                <th scope="col">Objectif</th>
                <th scope="col">Nom chef de Projet</th>
                <th scope="col">Etat</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>@fat</td>
              </tr>
            </tbody>
          </table>      
      </div>
    </div>
  </section>
  <!-- Liste equipe carousel -->
<section id="equipes" class="section section-md text-center bg-white">
    <div class="container">
      <div class="badge">Equipe</div>
      <h3>Notre Equipe de professionel </h3>
      <!-- Owl Carousel-->
      <div class="owl-carousel owl-carousel_profile-modern" data-items="1" data-sm-items="2" data-lg-items="3" data-xl-items="3" data-dots="true" data-nav="false" data-stage-padding="0" data-loop="true" data-margin="30" data-mouse-drag="false">
        <!-- Profile Modern-->
        <article class="profile-modern">
          <figure class="profile-modern-figure"><img class="profile-modern-image" src="/assets/images/Harena.jpg" alt="" width="369" height="315"/>
          </figure>
          <div class="profile-modern-main">
            <div class="profile-modern-main-item profile-modern-main-item_primary">
              <h4 class="profile-modern-name">Harena Andriamahatony</h4>
              <p class="profile-modern-position">Fondateur</p>
            </div>
          </div>
        </article>
        <!-- Profile Modern-->
        <article class="profile-modern">
          <figure class="profile-modern-figure"><img class="profile-modern-image" src="" alt="" width="369" height="315"/>
          </figure>
          <div class="profile-modern-main">
            <div class="profile-modern-main-item profile-modern-main-item_primary">
              <h4 class="profile-modern-name">Jese Daniel</h4>
              <p class="profile-modern-position">Consultant</p>
            </div>
          </div>
        </article>
        <!-- Profile Modern-->
        <article class="profile-modern">
          <figure class="profile-modern-figure"><img class="profile-modern-image" src="" alt="" width="369" height="315"/>
          </figure>
          <div class="profile-modern-main">
            <div class="profile-modern-main-item profile-modern-main-item_primary">
              <h4 class="profile-modern-name">Princia Malanto</h4>
              <p class="profile-modern-position">Consultant</p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>