<section class="section section-md bg-gray-100">
    <div class="container">
      <h3 class="text-center">Crée projet</h3>
      <div class="row justify-content-center">
        <div class="col-lg-11 col-xl-9">
          <!-- RD Mailform-->
          <form (ngSubmit)="onSubmit()" class="rd-mailform rd-form" data-form-output="form-output-global" data-form-type="contact">
            <div class="row row-x-16 row-20">
                <div class="col-md-6">
                    <div class="form-wrap">
                      <input [(ngModel)]="projet.nom" class="form-input" id="nom" type="text" name="nom" data-constraints="@Required">
                      <label class="form-label" for="nom">Nom projet</label>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-wrap">
                      <label class="form-label" for="objectif">Objectif</label>
                      <textarea [(ngModel)]="projet.objectif" class="form-input" id="objectif" name="objectif" data-constraints="@Required"></textarea>
                    </div>
                  </div>
              <div class="col-md-6">
                <div class="form-wrap">
                  <input [(ngModel)]="projet.capital" class="form-input" id="capital" type="number" name="capital" data-constraints="@Required">
                  <label class="form-label" for="capital">Capital</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-wrap">
                  <input [(ngModel)]="projet.cahierCharge" class="form-input" id="cahierCharge" type="url" name="cahierCharge" data-constraints="@Required">
                  <label class="form-label" for="cahierCharge">Lien Cahier de Charge</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-wrap form-button">
                  <button class="button button-block button-primary" type="submit">Crée Projet</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>